<table id="courseTable">
    <thead>
        <tr>
            <th>Código</th>
            <th>NRC</th>
            <th>Curso</th>
            <th>Cupos</th>
            <th>Ver Más</th>
        </tr>
    </thead>
    <tbody>
        {% for asignatura in asignaturas %}
        <tr>
            <td>{{ asignatura.0 }}</td>
            <td>{{ asignatura.2 }}</td>
            <td>
                <div class="course-info">
                    <span class="course-name">{{ asignatura.1 }}</span>
                    <span><strong>Profesor:</strong> {{ asignatura.6 }}</span>
                    <span><strong>Campus:</strong> {{ asignatura.7 }}</span>
                    <span><strong>Día:</strong>{{ asignatura.4 }}</span>
                    <span><strong>Horario:</strong> {{ asignatura.5 }}</span>
                    <span><strong>Edificio:</strong> {{ asignatura.8 }}</span>
                    <span><strong>Modalidad:</strong> {{ asignatura.3 }}</span>
                    {% for cumpleP in cumplePre %}
                        {% if cumpleP.1 == asignatura.10 %}
                            {% if cumpleP.0 == 'No cumple con los prerrequisitos' %}
                                <span style="color: red;">No se cumple con los prerrequisitos</span>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    
                    {% for cumpleR in cumpleRest %}
                        {% if cumpleR.1 == asignatura.10 %}
                            {% if cumpleR.0 == 'El estudiante NO cumple con las restricciones para tomar la asignatura.' %}
                                <span style="color: red;">No se cumple con las restricciones</span>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </td>
            <td>{{ asignatura.11 }}</td>
            <td style="text-align: center;">
                <button class="info-button" 
                    onclick="openCustomDialog('{{ asignatura.1 }}', '{{ asignatura.12 }}', '{{ asignatura.9 }}', 
                    '{% for requisito in prereq %}{% if requisito.0 == asignatura.10 %}{{ requisito.3 }}{% endif %}{% endfor %}',
                    '{% for requisito in coreq %}{% if requisito.0 == asignatura.1 %}{{ requisito.1 }}{% endif %}{% endfor %}',
                    '{% for restriccion in restr %}{% if restriccion.0 == asignatura.1 %}{{ restriccion.1 }}{% endif %}{% endfor %}',
                    '{% for restriccion in restr %}{% if restriccion.0 == asignatura.1 %}{{ restriccion.2 }}{% endif %}{% endfor %}',
                    '{% for restriccion in restr %}{% if restriccion.0 == asignatura.1 %}{{ restriccion.3 }}{% endif %}{% endfor %}')"
                    data-course="{{ asignatura.1 }}"
                    data-college="{{ asignatura.12 }}"
                    data-credits="{{ asignatura.9 }}">
                    +
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    function openCustomDialog(courseName, college, credits, prerreq, correq, carr, coleg, semes) {
        document.getElementById('dialogCourseName').textContent = courseName;
        document.getElementById('dialogCollege').textContent = college;
        document.getElementById('dialogCredits').textContent = credits;
        if (prerreq == '') {
            document.getElementById('dialogPrerrequisites').textContent = "No existen prerrequisitos";
        }
        else {
            document.getElementById('dialogPrerrequisites').textContent = prerreq;
        }
        if (correq == '') {
            document.getElementById('dialogCorrequisites').textContent = "No existen correquisitos";
        }
        else {
            document.getElementById('dialogCorrequisites').textContent = correq;
        }
        if (carr == '' || carr == 'None') {
            document.getElementById('dialogCarreraRest').textContent = "No hay restricciones de carrera";
        }
        else {
            document.getElementById('dialogCarreraRest').textContent = carr;
        }
        if (coleg == '' || coleg == 'None') {
            document.getElementById('dialogColegioRest').textContent = "No hay restricciones de colegio";
        }
        else {
            document.getElementById('dialogColegioRest').textContent = coleg;
        }
        if (semes == '' || semes == 'None') {
            document.getElementById('dialogSemestreRest').textContent = "No hay restricciones de semestre";
        }
        else {
            document.getElementById('dialogSemestreRest').textContent = semes;
        }
        document.getElementById('customDialog').style.display = 'flex';
    }
</script>